# Linux
# backup files
*~

# Windows
# thumbnails
Thumbs.db

# Mac OS X
# metadata
.DS_Store
# thumbnails
._*

# GIT
.git/

# Java
*.class
# packages
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project

# IntelliJ data
*.iml
.idea/
.ipr

# Logging
*.log

# Build products
target/
build/

